@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');


:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #1e3046;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warnig: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background:antiquewhite ;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);

}

/* dark theme */
.dark-theme-variables {
  --clr-color-background: #181a1e;
  --clr-white: #202528;
  --clr-light: rgba(0, 0, 0, 0.4);
  --clr-dark: #edeffd;
  --clr-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--clr-light)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  list-style: none;
  appearance: none;
}
  
body{
  font-family: 'Open Sans', sans-serif;;
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  user-select: none;
  overflow: hidden;
  background: rgb(27, 31, 87);
  position: fixed;
}
.Container{
  display: grid;
  grid-template-columns: 14rem auto;
  width: 96%;
  gap:1.8rem;
  margin: 0 auto;
}

a{
  color: var(--clr-dark);
}

h1{
  font-weight: 800;
  font-size: 1.8rem;
}

h3{
  font-size: 1.4rem;
}

h3{
  font-size: 0.87rem;
}

h4{
  font-size: 0.8rem;
}

h5{
  font-size: 0.77rem;
}

small{
  font-size: 0.75rem;
}

.profile-photo{
  width:2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted{
  color:var(--clr-info-dark)
}

p{
  color: var(--clr-dark-variant);
}

b{
  color: var(--clr-dark);
}
.primary{
  color: var(--clr-primary);
}
.success{
  color: var(--clr-success);
}
.danger{
  color: var(--clr-danger)
}
.warning{
  color: var(--clr-warnig);
}


/* aside */

aside{
  height: 160vh;
}
.top{
  background-color:antiquewhite;
  display: flex;
  justify-content: space-around;
  margin-top: 1.4rems;
  top: 2rem;
}
aside .logo{
  display: flex;
  gap: 1rem;
}
aside.top div.close{
  display: flex;
}

/*      SIDEBAR      */

aside .sidebar{
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  height: 85vh;
  position: relative;
  top: 2rem;
}
aside h3{
  font-weight: 400;
}
aside .sidebar a{
  display: flex;
  color: var(--clr-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  height:3.2rem;
  transition: all .1s ease-in;
}
aside .sidebar a span{
  font-size: 1.6rem;
  transition: all .1s ease-in;
}

aside .sidebar a:last-child{
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

aside .sidebar a.active{
  background-color: var(--clr-light);
  color: var(--clr-primary);
  margin-left: 0;
  border-left: 5px solid var(--clr-primary);
}
aside.sidebar a.active::before{
  content: '';
  width: 6px;
  height: 100%;
  background-color: var(--clr-primary);
}
aside.sidebar a:hover{
  color: var(--clr-primary);
  transition: .4s ease;
}

aside .sidebar a:hover span{
  margin-left: 1rem;
}
aside .sidebar a span.msg_count{
  background-color: var(--clr-danger);
  color: var(--clr-white);
  padding: 2px 5px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

/* Main Starts */
.insights{
    width: 100%;
    min-height: 180vh;
    /* background: var(--clr-color-background); */
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: rgb(172, 120, 129);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: var(--clr-primary-variant);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: var(--clr-info-light);
    color: #5c1a1a;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size:22px ;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}

main{
 background-color: antiquewhite;
}
/* nav bar */
main header {
  background-color: #251861;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.search input[type=text] {
  width: 30px;
  height: 2px;
  border-radius: 2px;
  border: none;
}
#search{
  background-color: transparent;
  border: solid;
  border-radius: 20px;
  border-color: #fff;

}
.search-bar{
  color: rgb(255, 255, 255);
}

.search button {
  background-color: #0074D9;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}


.profile-pic {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic img {
  width: 100%;
  height: auto;
}

.bell-icon {
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid hsl(121, 33%, 35%);
  margin-bottom: 20px;
}
.button{
  background-color: rgb(46, 50, 99);
  width: 220px;
  height: 20px;
  margin: 0;
  border: 50%;
}